# Core
fastapi==0.115.6
uvicorn[standard]==0.34.0
pydantic==2.10.4
pydantic-settings==2.7.0

# Database
sqlalchemy==2.0.37
asyncpg==0.30.0
alembic==1.14.1
psycopg2-binary==2.9.10

# Utils
python-dotenv==1.0.1
pytz==2024.2
httpx==0.28.1

# Production
gunicorn==23.0.0
uvloop==0.21.0